---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogCategoryRobots, getStaticPathsBlogCategory, findCategories, findTags } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';
import PostTags from "~/components/blog/Tags.astro";
import Sidebar from '~/components/blog/Sidebar.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogCategory({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: Record<string, string> };

const { page, category } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const allCategories = await findCategories();
const allTags = await findTags();

const metadata = {
  title: `Category '${category.title}' ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 sm:px-6 py-8 sm:py-12 lg:py-16 mx-auto max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
      <Sidebar>
        <PostTags 
          tags={allCategories.map(cat => ({ slug: cat.slug, title: `${cat.title} (${cat.count})` }))} 
          class="mb-2" 
          title="Categories" 
          isCategory={true} 
        />
        <PostTags 
          tags={allTags.map(tag => ({ slug: tag.slug, title: `${tag.title} (${tag.count})` }))} 
          title="Tags" 
        />
      </Sidebar>
      
      {/* 右侧内容区 */}
      <main class="md:col-span-9">
        <div class="bg-white dark:bg-slate-800 p-6 rounded-lg shadow-sm">
          <h1 class="text-2xl font-bold mb-6">Category: {category.title}</h1>
          <BlogList posts={page.data} />
          <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
        </div>
      </main>
    </div>
  </section>
</Layout>
