---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import type { Post } from '~/types';

import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import ProtectedContent from './ProtectedContent';

import { getFormattedDate } from '~/utils/utils';

interface Props {
  post: Post;
  url: string;
}

const { post, url } = Astro.props;
const Content = post.Content;
---

<section class="py-8 sm:py-16 lg:py-20 mx-auto">
  <article>
    <header class={post.image ? 'text-center' : ''}>
      <p class="px-4 sm:px-6 max-w-3xl mx-auto">
        <time datetime={post.publishDate.toISOString()}>
          {getFormattedDate(post.publishDate)}
        </time>
        {
          post.category && (
            <>
              {' '}
              ·{' '}
              <a class="capitalize hover:underline" href={`/category/${post.category.slug}`}>
                {post.category.title}
              </a>
            </>
          )
        }
        {post.protected && <span class="ml-2 text-primary-600">· Protected</span>}
      </p>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8 font-heading"
      >
        {post.title}
      </h1>
      {
        post.excerpt && (
          <p class="max-w-3xl mx-auto px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400">
            {post.excerpt}
          </p>
        )
      }

      <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8">
        <PostTags tags={post.tags} class="mr-5" />
        <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 align-middle" />
      </div>
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      {
        post.protected ? (
          <ProtectedContent post={post} client:load>
            <Content />
          </ProtectedContent>
        ) : (
          <Content />
        )
      }
    </div>
  </article>
</section>
