---
import { Image } from 'astro:assets';
import type { Post } from '~/types';
import { Fragment } from 'astro/jsx-runtime';

import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import ProtectedContent from './ProtectedContent';
import { Icon } from "astro-icon/components";

import { getFormattedDate } from '~/utils/utils';

export const prerender = false;

interface Props {
  post: Post;
  url: string;
}

const { post, url } = Astro.props;
const Content = post.Content || Fragment;
// eslint-disable-next-line @typescript-eslint/no-explicit-any
const PostContent = Content as any;

---

<section class="py-8 sm:py-16 lg:py-20 mx-auto">
  <article>
    <header>
      <p class="max-w-3xl mx-auto px-4 sm:px-6 text-center text-sm md:text-base text-gray-500 dark:text-slate-400">
        {
          post.publishDate && (
            <time datetime={String(post.publishDate)} class="inline-block">
              {getFormattedDate(post.publishDate)}
            </time>
          )
        }
        {post.category && (
          <>
            {' '}
            ·{' '}
            <a class="capitalize hover:underline inline-block" href={`/category/${post.category.slug}`}>
              {post.category.title}
            </a>
          </>
        )}
      </p>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8 font-heading flex items-center justify-center gap-2"
      >
        {post.protected && (
          <Icon 
            name="tabler:lock-open" 
            class="w-8 h-8 text-green-600"
          />
        )}
        {post.title}
      </h1>
      {
        post.excerpt && (
          <p class="max-w-3xl mx-auto px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400">
            {post.excerpt}
          </p>
        )
      }

      <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8">
        {
          post.image && (           
            <Image
              src={post.image}
              class="w-full h-auto rounded-md mb-6 shadow-lg bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              width={900}
              height={506}
              loading="eager"
              decoding="async"
            />       
          )
        }
        <PostTags tags={post.tags} class="mr-5" />
        <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 align-middle" />
      </div>
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      {
        post.protected ? (
          <ProtectedContent post={post} client:load>
            <PostContent />
          </ProtectedContent>
        ) : (
          <PostContent />
        )
      }
    </div>
  </article>
</section>
