---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag, findCategories, findTags } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Sidebar from '~/components/blog/Sidebar.astro';
import PostTags from "~/components/blog/Tags.astro";

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const allCategories = await findCategories();
const allTags = await findTags();

const metadata = {
  title: `Posts by tag '${tag.title}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-6 lg:gap-8 md:grid-cols-12">
      <aside class="md:col-span-3">
        <div class="sticky top-8 space-y-4">
          <Sidebar>
            <PostTags 
              tags={allCategories.map(cat => ({ slug: cat.slug, title: `${cat.title} (${cat.count})` }))} 
              class="mb-6" 
              title="Categories" 
              isCategory={true} 
            />
            <PostTags 
              tags={allTags.map(tag => ({ slug: tag.slug, title: `${tag.title} (${tag.count})` }))} 
              title="Tags" 
            />
          </Sidebar>
        </div>
      </aside>
      
      {/* 右侧内容区 */}
      <main class="md:col-span-9">
        <div class="rounded-xl bg-white p-6 shadow-sm dark:bg-slate-900/70 backdrop-blur border dark:border-slate-800">
          <h1 class="text-2xl font-bold mb-6">Tag: {tag.title}</h1>
          <BlogList posts={page.data} />
          <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
        </div>
      </main>
    </div>
  </section>
</Layout>
